*{
    margin:0;
    padding:0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #141318
}

h1 {
    font-family: "Norican", cursive;
    font-size: 60px;
    color: #d6af36
}
.background {
    position: absolute;
    width: 50vw;
    height: 3110px;
    right: 0;
    background-color: red;
    background-image: url("alcoholic-beverage-beer-cold-1009068.jpg");
    background-size: cover;
    background-position: 45%; 
    z-index: -1;
}

h3 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 26px;
    color: black;
}

h4 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    color: #d6af36;
}

h5 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    color: black;
    padding-top: 20px;
}

p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    color: rgb(65, 65, 65);
    font-style: italic;
}

.card {
    width: 30%;
    padding: 15px;
}



button {
    padding: 10px 20px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    color: #141318;
    background-color: #d6af36;
    border: none;
    border-radius: 3px;
}

.display {
    display: none;
}

footer {
    padding: 10px;
    background-color: #141318;
    z-index: 10;
    text-align: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px 0px 0px 0px;
}

footer a, footer a:hover{
    color: white;

}